html {
    scroll-behavior: smooth;
}

.hero-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1387&q=80');
}

.hero-feature {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 35px;
    border-radius: 50px;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-hr {
    background-color: white;
    margin-top: 8px;
    margin-bottom: 20px;
}

.hero-display-text {
    font-size: 5em;
    color: white;
    font-family: 'fira mono';
}

.hero-subtitle-text {
    color: white;
    font-family: 'roboto';
    font-size: 2em;
    font-weight: 300;
}
/* Desktop (Large) */
@media only screen and (min-width: 1500px) {
    .hero-subfeature {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 15px;
        border-radius: 10px;
        border: 2px solid white;
        transform: translate(-50%, -50%);
        text-decoration: none;
    }
    .hero-subfeature:hover {
        background-color: rgb(255, 255, 255, 0.5);
        border: 2px solid black;
    }
    .hero-subfeature:hover .hero-subfeature-text {
        color: black;
    }
    .hero-subfeature.project-subfeature {
        top: 70%;
        left: 25%;
    }
    .hero-subfeature.skills-subfeature {
        top: 70%;
        left: 50%;
    }
    .hero-subfeature.contact-subfeature {
        top: 70%;
        left: 75%;
        padding-left: 35px;
        padding-right: 35px;
    }
}
/* Tablet / Smaller PC */
@media only screen and (min-width: 750px) and (max-width: 1499px) {
    .hero-subfeature {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 15px;
        border-radius: 10px;
        border: 2px solid white;
        transform: translate(-50%, -50%);
        text-decoration: none;
    }
    .hero-subfeature:hover {
        background-color: rgb(255, 255, 255, 0.5);
        border: 2px solid black;
    }
    .hero-subfeature:hover .hero-subfeature-text {
        color: black;
    }
    .hero-subfeature.project-subfeature {
        top: 60%;
        left: 50%;
    }
    .hero-subfeature.skills-subfeature {
        top: 70%;
        left: 50%;
    }
    .hero-subfeature.contact-subfeature {
        top: 80%;
        left: 50%;
        padding-left: 35px;
        padding-right: 35px;
    }
}
/* Mobile */
@media only screen and (max-width: 750px) {
    .hero-subfeature {
        display: none;
    }
    .hero-subfeature.project-subfeature {
        display: inherit;
        position: absolute;
        top: 80%;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 15px;
        border-radius: 10px;
        border: 2px solid white;
        transform: translate(-50%, -50%);
        text-decoration: none;
    }
}
.hero-subfeature-text {
    color: white;
    font-family: 'fira mono';
    text-align: center;
    font-size: 1.5em;
}
.five-mar-bot {
    margin-bottom: 5px;
}

.portfolio-section {
    align-items: center;
}

.portfolio-section-header-text {
    text-decoration: underline;
    font-size: 3.5em;
    text-align: center;
    font-family: 'fira mono';
    margin-top: .25em;
    color: rgb(29, 29, 29);
    margin-bottom: 20px;

}
/* .portfolio-item-card {
    margin-bottom: 5%;
    margin-left: 25%;
    width: 50%;
    background-color: darkgray;
    box-shadow: 5px 5px 3px lightgray;
    padding-top: 10px;
} */
.portfolio-card-header-text {
    color: rgb(29, 29, 29);
    font-family: 'roboto';
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
}
@media screen and (max-width: 750px) {
    .portfolio-item-card {
        display: inline-block;
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        background-color: darkgray;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .portfolio-card-image {
        display: inline-block;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
}
@media screen and (min-width: 750px) {
    
    .portfolio-card-image {
        display: inline-block;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .portfolio-item-card {
        margin-bottom: 5%;
        margin-left: 25%;
        width: 50%;
        background-color: darkgray;
        box-shadow: 5px 5px 3px lightgray;
        padding-top: 10px;
    }
}
.portfolio-card-content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.portfolio-card-text {
    font-size: 1.2em;
    font-family: 'lora';
    color: rgb(29, 29, 29);
    text-align: center;
    margin-bottom: 5px;
}
.black-hr {
    color: black;
}
.portfolio-icon {
    padding-right: 5px;
}
.portfolio-icon-link {
    color: black;
    text-decoration: none;
    font-family: 'fira mono';
    font-size: 1.5em;
}